<section class="m-0 p-0">
  <div class="row p-0 m-0 h-100">
    <div class="col-2 m-0 py-5 px-0 shadow nav h-100">
      <div class="row w-100 justify-content-center m-0 p-0">
        <div class="row image w-100 justify-content-center m-0 p-0">
          <img
            class="avatar"
            id="avatar"
            src="../../assets/avatarw.png"
            alt=""
          />
        </div>
        <div class="row w-100 justify-content-center m-0 p-0">
          <a class="nav-link" href="#">JOHN DOE</a>
        </div>
      </div>
      <div class="row liste w-100 px-4 py-4">
        <nav class="nav flex-column">
          <a class="nav-link" href="#">My Profile</a>
          <a class="nav-link active" href="#">Discover my voice</a>
          <a class="nav-link" href="#">Play with others</a>
          <a class="nav-link" href="#">My Specialist<sup> Pro</sup></a>
          <a class="nav-link" href="#">About Calio</a>
        </nav>
      </div>
      <div class="row w-100 p-4">
        <nav class="nav flex-column">
          <a class="nav-link" href="#">logout</a>
        </nav>
      </div>
    </div>
    <div class="col-10 p-0 m-0">
      <div class="row w-100 px-5 py-3">
        <div class="col-2 p-1 m-0">
          <img src="../../assets/log4.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="row justify-content-center py-0 px-3 m-0 data">
        <div class="col-8 d-flex justify-content-center p-2">
          <div class="row p-0 m-0 rounded bg-white">
            <img src="../../assets/map.jpg" alt="" class="map" />
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="">
            <div
              class="row p-0 m-0 rounded shadow bg-white d-flex justify-content-center"
            >
              <img src="../../assets/emotion.jpg" alt="" class="img-fluid" />
            </div>
            <div
              class="row p-0 m-0 mt-3 rounded shadow bg-white d-flex justify-content-center"
            >
              <img src="../../assets/ages.jpg" alt="" class="age" />
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center p-0 m-0 logo">
        <div class="gooey">
          <i class="fa fa-microphone"></i>
        </div>
      </div>
<!--<div class="row justify-content-center p-0 m-0">
        <div class="nav-link p-0 pt-1 text-bold m-0">CALIO MY VOICE</div>
      </div>-->
    </div>
  </div>
</section>
